In [1]:
import pandas as pd 
pd.__version__

'1.3.4'

In [3]:
import warnings
warnings.filterwarnings(action = 'ignore')

In [6]:
train_df = pd.read_csv('./data18/data18/data_list/ratings_train.txt', encoding='utf8', sep = '\t')
train_df

              id                                           document  label
0        9976970                                아 더빙.. 진짜 짜증나네요 목소리      0
1        3819312                  흠...포스터보고 초딩영화줄....오버연기조차 가볍지 않구나      1
2       10265843                                  너무재밓었다그래서보는것을추천한다      0
3        9045019                      교도소 이야기구먼 ..솔직히 재미는 없다..평점 조정      0
4        6483659  사이몬페그의 익살스런 연기가 돋보였던 영화!스파이더맨에서 늙어보이기만 했던 커스틴 ...      1
...          ...                                                ...    ...
149995   6222902                                인간이 문제지.. 소는 뭔죄인가..      0
149996   8549745                                      평점이 너무 낮아서...      1
149997   9311800                    이게 뭐요? 한국인은 거들먹거리고 필리핀 혼혈은 착하다?      0
149998   2376369                        청춘 영화의 최고봉.방황과 우울했던 날들의 자화상      1
149999   9619869                           한국 영화 최초로 수간하는 내용이 담긴 영화      0

[150000 rows x 3 columns]

In [7]:
train_df['label'].value_counts()

0    75173
1    74827
Name: label, dtype: int64

In [8]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        150000 non-null  int64
 1   document  149995 non-null  object
 2   label     150000 non-null  int64
dtypes: int64(2), object(1)
memory usage: 3.4+ MB

In [10]:
train_df = train_df[train_df['document'].notnull()]
train_df

              id                                           document  label
0        9976970                                아 더빙.. 진짜 짜증나네요 목소리      0
1        3819312                  흠...포스터보고 초딩영화줄....오버연기조차 가볍지 않구나      1
2       10265843                                  너무재밓었다그래서보는것을추천한다      0
3        9045019                      교도소 이야기구먼 ..솔직히 재미는 없다..평점 조정      0
4        6483659  사이몬페그의 익살스런 연기가 돋보였던 영화!스파이더맨에서 늙어보이기만 했던 커스틴 ...      1
...          ...                                                ...    ...
149995   6222902                                인간이 문제지.. 소는 뭔죄인가..      0
149996   8549745                                      평점이 너무 낮아서...      1
149997   9311800                    이게 뭐요? 한국인은 거들먹거리고 필리핀 혼혈은 착하다?      0
149998   2376369                        청춘 영화의 최고봉.방황과 우울했던 날들의 자화상      1
149999   9619869                           한국 영화 최초로 수간하는 내용이 담긴 영화      0

[149995 rows x 3 columns]

In [11]:
import re #규칙을 가지고 필터링해주는 라이브러리

In [25]:
train_df['document'] = train_df['document'].apply(lambda x: re.sub(r'[^ ㄱ-ㅣ가-힣]+', "", x))

In [26]:
train_df.head()

         id                                           document  label
0   9976970                                  아 더빙 진짜 짜증나네요 목소리      0
1   3819312                         흠포스터보고 초딩영화줄오버연기조차 가볍지 않구나      1
2  10265843                                  너무재밓었다그래서보는것을추천한다      0
3   9045019                          교도소 이야기구먼 솔직히 재미는 없다평점 조정      0
4   6483659  사이몬페그의 익살스런 연기가 돋보였던 영화스파이더맨에서 늙어보이기만 했던 커스틴 던...      1

In [14]:
test_df = pd.read_csv('./data18/data18/data_list/ratings_test.txt', encoding='utf8', sep ='\t')
test_df

            id                                           document  label
0      6270596                                                굳 ㅋ      1
1      9274899                               GDNTOPCLASSINTHECLUB      0
2      8544678             뭐야 이 평점들은.... 나쁘진 않지만 10점 짜리는 더더욱 아니잖아      0
3      6825595                   지루하지는 않은데 완전 막장임... 돈주고 보기에는....      0
4      6723715  3D만 아니었어도 별 다섯 개 줬을텐데.. 왜 3D로 나와서 제 심기를 불편하게 하죠??      0
...        ...                                                ...    ...
49995  4608761          오랜만에 평점 로긴했네ㅋㅋ 킹왕짱 쌈뽕한 영화를 만났습니다 강렬하게 육쾌함      1
49996  5308387       의지 박약들이나 하는거다 탈영은 일단 주인공 김대희 닮았고 이등병 찐따 OOOO      0
49997  9072549                 그림도 좋고 완성도도 높았지만... 보는 내내 불안하게 만든다      0
49998  5802125     절대 봐서는 안 될 영화.. 재미도 없고 기분만 잡치고.. 한 세트장에서 다 해먹네      0
49999  6070594                                         마무리는 또 왜이래      0

[50000 rows x 3 columns]

In [37]:
test_df = test_df[test_df['document'].notnull()]
test_df

            id                                           document  label
0      6270596                                                굳 ㅋ      1
1      9274899                               GDNTOPCLASSINTHECLUB      0
2      8544678             뭐야 이 평점들은.... 나쁘진 않지만 10점 짜리는 더더욱 아니잖아      0
3      6825595                   지루하지는 않은데 완전 막장임... 돈주고 보기에는....      0
4      6723715  3D만 아니었어도 별 다섯 개 줬을텐데.. 왜 3D로 나와서 제 심기를 불편하게 하죠??      0
...        ...                                                ...    ...
49995  4608761          오랜만에 평점 로긴했네ㅋㅋ 킹왕짱 쌈뽕한 영화를 만났습니다 강렬하게 육쾌함      1
49996  5308387       의지 박약들이나 하는거다 탈영은 일단 주인공 김대희 닮았고 이등병 찐따 OOOO      0
49997  9072549                 그림도 좋고 완성도도 높았지만... 보는 내내 불안하게 만든다      0
49998  5802125     절대 봐서는 안 될 영화.. 재미도 없고 기분만 잡치고.. 한 세트장에서 다 해먹네      0
49999  6070594                                         마무리는 또 왜이래      0

[49997 rows x 3 columns]

In [15]:
pip install konlpy

Requirement already satisfied: konlpy in c:\programdata\anaconda3\lib\site-packages (0.6.0)
Requirement already satisfied: lxml>=4.1.0 in c:\programdata\anaconda3\lib\site-packages (from konlpy) (4.8.0)
Requirement already satisfied: JPype1>=0.7.0 in c:\programdata\anaconda3\lib\site-packages (from konlpy) (1.3.0)
Requirement already satisfied: numpy>=1.6 in c:\programdata\anaconda3\lib\site-packages (from konlpy) (1.21.5)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -llib3 (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ckaging (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rllib3 (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -llib3 (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)

Requirement already satisfied: typing-extensions in c:\programdata\anaconda3\lib\site-packages (from JPype1>=0.7.0->konlpy) (4.1.1)

WARNING: Ignoring invalid distribution -ffi (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ckaging (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ackaging (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -llib3 (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ckaging (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rllib3 (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -llib3 (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ckaging (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ackaging (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -llib3 (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ckaging (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rllib3 (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -llib3 (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ckaging (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ackaging (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -llib3 (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ckaging (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rllib3 (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -llib3 (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ckaging (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ackaging (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -llib3 (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ckaging (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rllib3 (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -llib3 (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ckaging (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ackaging (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -llib3 (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ckaging (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rllib3 (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -llib3 (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ckaging (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ackaging (c:\programdata\anaconda3\lib\site-packages)

In [38]:
from konlpy.tag import Okt

In [39]:
okt = Okt()

In [40]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [41]:
tfidf = TfidfVectorizer(tokenizer=okt.morphs, ngram_range=(1,2), min_df=3, max_df = 0.9)
tfidf
#max_df : 정수 또는 [0.0, 1.0]사이의 실수 , 디폴트 1
#최대 몇개 문서에 걸쳐 포함된 다어까지 꾸러미에 담아 사용할 것인지 
#min_df : 정수 또는 [0.0, 1.0]사이의 실수 디폴트 1 
#최소 몇개 문서에 걸쳐 포함된 단어를 단어 꾸러미에 담아 사용할 것인지 
##ngram-range(1,2): 한 글자가 따로 나오거나. 두 글자가 같이 나오는 빈도수의 matrix

TfidfVectorizer(max_df=0.9, min_df=3, ngram_range=(1, 2),
                tokenizer=<bound method Okt.morphs of <konlpy.tag._okt.Okt object at 0x000001B61CEE6CC8>>)

In [42]:
tfidf.fit(train_df['document'])

TfidfVectorizer(max_df=0.9, min_df=3, ngram_range=(1, 2),
                tokenizer=<bound method Okt.morphs of <konlpy.tag._okt.Okt object at 0x000001B61CEE6CC8>>)

In [43]:
train_tfidf_df = tfidf.transform(train_df['document'])
train_tfidf_df

<149995x115612 sparse matrix of type '<class 'numpy.float64'>'
	with 2703859 stored elements in Compressed Sparse Row format>

In [44]:
#tfidf.inverse_transform(train_tfidf_df)

In [45]:
train_tfidf_df[0].toarray()

array([[0., 0., 0., ..., 0., 0., 0.]])

In [46]:
#테스트하기 위해서 테스트 데이터도 1)fit, transform 2) transform(********)
#테스트데이터를 tfidf vectorize할 때는 train데이터로 fit한 후, transform시켜야 함 
test_tfidf_df = tfidf.transform(test_df['document'])
test_tfidf_df

<49997x115612 sparse matrix of type '<class 'numpy.float64'>'
	with 859916 stored elements in Compressed Sparse Row format>

In [47]:
### 1. 로지스틱 회귀 객체 생성 
### 2. 트레인 데이터로 학습 
### 3. 테스트 데이터로 예측
### 4. 4.정확도를 구해보세요 
### 5. 입력한 데이터로 예측 
### 입력한 데이터 한글 이외 제외시키고, transform한 후 예측

In [48]:
from sklearn.linear_model import LogisticRegression 
SA_lr = LogisticRegression(random_state = 0)

In [49]:
SA_lr.fit(train_tfidf_df, train_df['label'])

LogisticRegression(random_state=0)

In [50]:
test_predict = SA_lr.predict(test_tfidf_df)

In [51]:
from sklearn.metrics import accuracy_score 
print('감성 분석 정확도:', round(accuracy_score(test_df['label'], test_predict), 3))

감성 분석 정확도: 0.852

In [52]:
#st = input('감성 분석할 문장 입력>>')

In [53]:
st = "웃자 ^o^ 오늘은 좋은 날이 될것 같은 예감 100%! ^^*"

In [55]:
st2 = re.sub(r'[^ ㄱ-ㅎ|가-힣]+', "", st)
st2

'웃자  오늘은 좋은 날이 될것 같은 예감  '

In [56]:
st_tfidf_df = tfidf.transform([st2])
st_tfidf_df

<1x115612 sparse matrix of type '<class 'numpy.float64'>'
	with 14 stored elements in Compressed Sparse Row format>

In [57]:
st2_predict = SA_lr.predict(st_tfidf_df)

In [58]:
st2_predict

array([1], dtype=int64)

In [59]:
st2_predict[0]

1

In [60]:
if(st2_predict ==0):
    print(st2, '->>부정 감성')
else:
    print(st2, '->>긍정 감성')

웃자  오늘은 좋은 날이 될것 같은 예감   ->>긍정 감성

In [61]:
st3 = "짱나! 진짜야"

In [62]:
st4= re.sub(r'[^ ㄱ-ㅎ[가-힣]+', "", st3)
st4

'짱나 진짜야'

In [63]:
# 1) 입력 테스트의 피처 벡터화 
st4_tfidf = tfidf.transform([st4])

#2) 최적 감성분석 모델에 적용하여 감성 분석 평가 
st4_predict2 = SA_lr.predict(st4_tfidf)

In [64]:
st4_predict2[0]

0

In [65]:
if(st4_predict2==0):
    print(st3, "->>부정 감성")
else:
    print(st3, "->>긍정 감성")

짱나! 진짜야 ->>부정 감성